.map {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.map .map__view {
	height: 100%;
	width: 100%;

	background-position: center;
	object-fit: cover;
	object-position: center;
}


@media (max-width: 800px) { 

	.map .map__view {
		width: unset;
	}
}