.slider {
	width: 100%;
	height: 100%;

	overflow: hidden;
}

.slider .slider__slide {
	height: 100%;
	width: 100%;

    object-fit: cover;	
    background-position: center;
}

.slider-buttons {
	position: absolute;
	bottom: 25px;

	width: 100%;
	display: flex;
	justify-content: center;
}

.slider-buttons .slider-buttons__button {
	width: 15px;
	height: 15px;

	border-radius: 50%;
	border: 2px solid white;
	background: grey;

	margin-right: 7px;
	cursor: pointer;
}

.slider-buttons .slider-buttons__button:nth-last() {
	margin-right: 0;
}

.slider-buttons .slider-buttons__button_active {
	background: #DF650C;
}